// Sizes
$header-font-size: 32px;
$title-font-size: 26px;
$font-size: 20px;
$input-size: 16px;
$border-size: 1px;
$main-image-size: 60px;
$small-image-size: 40px;
$wrapper-size: 1600px;
$icon-size: 32px;
// Radius
$border-radius: 4px;
// Paddings
$default-padding: 10px;
$column-title-padding: 16px 0;
$modal-padding: 20px;
// Margins 
$title-margin: 10px 0;
$main-margin: 15px 5px;
$bottom-margin: 20px;
$image-margin: 10px;
$modal-margin: 48px 0 80px;
$wrapper-margin: 0 auto;
$member-margin: 0 10px;
$comment-margin: 40px;
// Heights
$header-height: 100px;
$selection-height: 32px;
$column-height: 800px;
$card-height: 150px;
$input-height: 32px;
$modal-height: 450px;
$card-description-height: 46px;
$comment-input-height: 100px;
// Widths
$selection-width: 200px;
$description-width: 580px;
$card-description-width: 300px;
$column-width: 400px;
$modal-width: 800px;
$comment-input-width: 520px;
// Colors
$selection-color: #DDD;
$border-color: #ddd;
$text-color: #000;
$main-color: #F4F5F7;
$background-color: #fff;
$shadow-color: #ddd;
$hover-color: #eee;
$mark-color: #F88;
$author-color: #1af;
// Transparent color
$overlay-color: rgba(0,0,0,0.5);
$todo-box-color: rgba(210, 50, 50, 0.75);
$inprogress-box-color: rgba(230, 110, 50, 0.75);
$inreview-box-color: rgba(85, 85, 190, 0.75);
$done-box-color: rgba(85, 190, 85, 0.75);
