@import '../../styles/variables.scss';

.selection {
  margin-bottom: $bottom-margin;
  height: $selection-height;
  width: $selection-width;
  background-color: $selection-color;
  border: none;
  border-radius: $border-radius;
  font-weight: bold;
}
