@import '../../styles/variables.scss';

.header {
  height: $header-height;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid $border-size $border-color;

  .title {
    color: $text-color;
    font-size: $header-font-size;
  }
}
