@import '../../styles/variables.scss';

.header {
  height: $header-height;
  width: 100%;
  border-bottom: solid $border-size $border-color;
  font-size: $font-size;

  .headerWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .title {
      color: $text-color;
      font-size: $header-font-size;
    }
  }
}