@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.column {
  @include flex-column;
  margin: $main-margin;
  justify-content: start;
  min-height: $column-height;
  width: $column-width;
  background-color: $background-color;
  box-shadow: 0 0 3px 0 $shadow-color;
  border-radius: $border-radius;

  .title {
    font-size: $title-font-size;
    margin: 0;
    padding: $column-title-padding;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }
}
