@import '../../styles/variables.scss';

.card {
  margin: $main-margin;
  width: auto;
  height: $card-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 0 1px $shadow-color;
  background-color: $background-color;

  &:hover {
    cursor: pointer;
    background-color: $hover-color;
  }

  .info {
    text-align: start;
    margin: $main-margin;

    .title {
      font-size: $font-size;
    }

    .description {
      display: flex;
      justify-content: space-between;

      .block {
        margin: 0 1%;
      }

      .priority {
        text-decoration-line: underline;
        text-decoration-color: $mark-color;
      }
    }
  }

  .img {
    width: $main-image-size;
    height: $main-image-size;
    margin: $image-margin;

    img {
      border-radius: 50%;
      max-width: 100%;
    }
  }
}

.drag {
  opacity: 0.5;
}
