@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.card {
  margin: $main-margin;
  padding: $default-padding;
  width: auto;
  height: $card-height;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 0 3px 0 $shadow-color;
  background-color: $background-color;
  border-radius: $border-radius;

  &:hover {
    cursor: pointer;
    background-color: $hover-color;
  }

  .info {
    @include flex-column;
    justify-content: space-evenly;
    text-align: start;
    height: 100%;

    .title {
      margin: 0;
      font-size: $font-size;
    }

    .description {
      margin: 0;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      text-overflow: ellipsis;
      height: $card-description-height;
      width: $card-description-width;
    }

    .priority {
      text-decoration-line: underline;
      text-decoration-color: $mark-color;
    }
  }

  .img {
    margin: $image-margin 0;

    .avatar {
      width: $main-image-size;
      height: $main-image-size;
      border-radius: 50%;
      max-width: 100%;
    }
  }
}

.drag {
  opacity: 0.5;
}
